<footer class="v-footer footer v-sheet theme--light v-footer--absolute v-footer--padless" data-booted="true" style="left: 0px; right: 0px; bottom: 0px;">
    <div class="text-center col col-12"> Copyright© 2021 - <a style="color: #fff; text-decoration: none;" href="https://www.linkedin.com/in/andrey-lemos-krauthein-alves-4653ba210/">Andrey Lemos</a></div>
</footer>

<style>
    element.style {
    left: 0px;
    right: 0px;
    bottom: 0px;
    }
    .v-sheet.v-footer:not(.v-sheet--outlined) {
        -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
        box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
    }
    .v-footer--absolute:not(.v-footer--inset) {
        width: 100%;
    }
    .v-sheet.v-footer {
        border-radius: 0;
    }
    .theme--light.v-footer {
        background-color: #f5f5f5;
        color: rgba(0,0,0,.87);
    }
    .v-sheet:not(.v-sheet--outlined) {
        -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
        box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
    }
    .theme--light.v-sheet {
        background-color: #fff;
        border-color: #fff;
        color: rgba(0,0,0,.87);
    }
    .footer {
        font-size: 12px!important;
        color: #fff!important;
        background-color: var(--black)!important;
    }
    .v-footer--padless {
        padding: 0;
    }
    .v-footer--absolute {
        position: absolute;
    }
    .v-footer--absolute, .v-footer--fixed {
        z-index: 3;
    }
    .v-footer {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0!important;
        -ms-flex: 0 1 auto!important;
        flex: 0 1 auto!important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 6px 16px;
        position: relative;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-property: background-color,left,right;
        transition-property: background-color,left,right;
        -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    .v-sheet {
        border-radius: 0;
    }
    * {
        padding: 0;
        margin: 0;
    }
    *, :after, :before {
        background-repeat: no-repeat;
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
    user agent stylesheet
    footer {
        display: block;
    }
    .v-application--wrap {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
        max-width: 100%;
        position: relative;
    }
    #app {
        font-family: Open Sans,sans-serif;
        text-align: center;
        color: var(--black)!important;
    }
    .theme--light.v-application {
        background: #fff;
        color: rgba(0,0,0,.87);
    }
    .v-application {
        font-family: Roboto,sans-serif;
        line-height: 1.5;
    }
    :root {
        --yellow: #fdf200;
        --dark: #000;
        --black: #332e2d;
        --grey: #6b6b6b;
        --faint-gray: #e3e3e3;
        --purple: #9733fd;
        --disabled: hsla(0,0%,39.6%,0.55);
        --border-radius: 5px;
        --default-padding: 0.5rem;
        --default-margin: 0.5rem;
        --default-shadow: 0 2px 5px rgba(0,0,0,0.17);
        --active-color: #6495ed;
    }
    html {
        font-size: 16px;
        overflow-x: hidden;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    html {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: scroll;
        -webkit-text-size-adjust: 100%;
        word-break: normal;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
    }
    :after, :before {
        text-decoration: inherit;
        vertical-align: inherit;
    }
    *, :after, :before {
        background-repeat: no-repeat;
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
    :after, :before {
        text-decoration: inherit;
        vertical-align: inherit;
    }
    *, :after, :before {
        background-repeat: no-repeat;
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
</style>